{%extends 'base.html'%} {% block head %}

<title>EDIT Posts</title>

{% endblock %} 
{% block body %}

<h1>Edit Posts</h1>

<hr />
<h2>Edit Blog Post</h2>
<form action="/posts/edit/{{post.id}}" method="POST">
    <label for="title">Title</label>
    <input  class="form-control" value={{post.title}} aria-label="Title" type="text" name="title" id="title" /> 
   
    <label for="author">Author</label>
    <input class="form-control" type="text"  value={{post.author}} aria-label="Author" name="author" id="author" />
    
    <label for="content">Post</label>
    <textarea class="form-control" type="text"  aria-label="Post" name="content" id="content"rows="4">{{post.content}} </textarea>
           
    <input type="submit" value="Post" />
  </form>
 {% endblock %}
