{%extends 'base.html'%}

{% block head %}

<title>Home</title>

{% endblock %}


{% block body %}
<br>

<h1>Blog Home</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcom to new Blog Post Website And you find here a new and AWESOME Websites. </p>
        <p>You can find More On your <a href="https://pcentric.netlify.com/">Website</a></p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
